{% extends "web/base.html" %}
{% load static %}
{% block content %}
        
        <!-- Page Banner Start -->
        <section class="page-banner-area overlay pt-50 rpt-100 pb-100 rpb-100 rel z-1 bgs-cover text-center" style="background-image: url({% static 'web/assets/images/background/banner.jpg' %});">
            <div class="container">
                <div class="banner-inner text-white">
                    <h2 class="page-title" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">Blog Details</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active">Blog Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Page Banner End -->
        
        
        <!-- Blog Details Area Start -->
        <section class="blog-details-area py-130 rpy-100 rel z-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-image" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                            <img src="{{blog.image.url}}" alt="{{blog.title}}">
                        </div>
                        <div class="blog-details-wrap">
                            <div class="blog-details-content">
                                <ul class="blog-meta style-two">
                                    <li>
                                        <a href="#"><i class="fas fa-circle"></i> {{blog.category}}</a>
                                    </li>
                                    <li>
                                        <i class="far fa-calendar-alt"></i>
                                        <a href="#">{{blog.date}}</a>
                                    </li>
                                   
                                </ul>
                                <div class="content">
                                    <h5>{{blog.title}}</h5>
                                </div>
                                <div class="content">
                                    <p>{{blog.description|safe}}</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar rmt-75">
                            <div class="widget widget-recent-news" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">
                                <h5 class="widget-title">Latest Blogs  <img src="{% static 'web/assets/images/widgets/blog-widget-title.png' %}" alt="Widget Title"></h5>
                                <ul>
                                    {% for other_blog in other_blogs %}
                                    <li>
                                        <a href="{{other_blog.get_absolute_url}}" class="image">
                                            <img src="{{other_blog.image.url}}" alt="{{other_blog.title}}">
                                            <i class="far fa-arrow-right"></i>
                                        </a>
                                        <div class="content">
                                            <span class="post-by"><a href="{{other_blog.get_absolute_url}}">{{other_blog.date}}</a></span>
                                            <h6><a href="{{other_blog.get_absolute_url}}">{{other_blog.title|truncatechars:40}}</a></h6>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details Area End -->
      
{% endblock %}