{% extends "web/base.html" %}
{% load static %}
{% block content %}

  <div class="nesmee-breadcrumb" style="background-image: url({% static 'web/assets/images/breadcrumb/breadcrumb.png' %})">
    <div class="container">
      <h1 class="post__title">{{blog.title}}</h1>
      <nav class="breadcrumbs">
        <ul>
          <li><a href='{% url "web:index" %}'>Home</a></li>
          <li><a >Blog</a></li>
          <li aria-current="page"> {{blog.title}}</li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- End breadcrumb -->

  <div class="section nesmee-section-padding blog-single-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="nesmee-blog-thumb single-blog" data-aos="fade-up" data-aos-duration="800">
            <img src="{{blog.image.url}}" alt="">
          </div>
          <div class="nesmee-single-post-content-wrap">
            <div class="nesmee-single-post-meta">
              <ul>
                <li><a href="#"><i class="ri-calendar-fill"></i> {{blog.date}}</a></li>
                <li><a href="#"><i class="ri-bookmark-fill"></i> {{blog.category}}</a></li>
              </ul>
            </div>
            <div class="entry-content">
             {{blog.description|safe}}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="nesmee-blog-sidebar">
            
            <div class="nesmee-blog-widgets">
              <h5>Other Blogs</h5>
              {% if other_blogs %}
              {% for other_blog in other_blogs %}
              <a class='nesmee-recent-post-item' href='{{other_blog.get_absolute_url}}'>
                <div class="nesmee-recent-post-thumb">
                  <img src="{{other_blog.image.url}}" alt="">
                </div>
                <div class="nesmee-recent-post-data">
                  <p>{{other_blog.title}}</p>
                  <span>{{other_blog.date}}</span>
                </div>
              </a>
              {% endfor %}
              {% endif %}
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}