@media (min-width: 992px) {
    .main-slider-area .slick-slide img{
        display: block;
        width: 740px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    h1{
        font-size: 45px !important;
    }
    .gallery-item .image img {
        border-radius: 10px 10px 0px 0px !important;
    }
    .blog-item .image img{
        height: 250px;
        width: 100%;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }
    .menu-btns {
        display: block !important;
    }
}
.blog-item .image img{
    border-radius: 5px 5px 0 0;
}
.main-slider-area .slick-slide img{
    border-radius: 10px;
}

.blog-details-image img{
    height: 400px;
    object-fit: cover;
}
.header-logo img{
    height: 60px !important;
}
.service-item.style-two .icon img{
    height: 70px !important;
}
.service-item.style-two{
    padding: 20px 20px 20px !important;
}

.footer-logo img{
    height: 60px !important;
}
.why-choose-us-area .icon img{
    height: 70px;
}
.why-choose-us-area .about-image-two .about-main-image{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 500px;
}

.benefit-content .service-item img{
    height: 50px !important;
}
.benefit-image .image img{
    border-radius: 10px !important;
}
.faq-images .image img{
    border-radius: 10px !important;
}

.portfolio-gallery-area .menu-sidebar{
    margin-right: 0px !important;
}
.testimonials-image-two img{
border-radius: 10px !important;
}

@media(max-width: 991px){
    .why-choose-us-area .about-image-two .about-main-image{
        height: 350px !important;
    }
}

.gallery-item .image img {
    border-radius: 10px 10px 0px 0px !important;
}

.gallery-item.style-two .content h5 a {
    font-size: 20px !important;
}