.s-testimonial-3 .testimonial-thumbs .slider-testimonial-3-thumb{
    margin-top: 0px !important;
}
.s-project{
    padding-bottom: 180px !important ;
}
.modal .content-section{
    padding: 42px 34px 57px 21px !important;
}
.page-title .content .icon-img{
    margin-bottom: 30px !important;
}
.benefit-list .box-icon .style-circle img{
    height: 40px !important;
}

@media (min-width: 991px) {
    .s-our-mission .content-section .slider-wrap {
        max-width: unset;
        width: calc(38% - -250px) !important;
    }
    .page-title-home-1 .swiper-slide-active .slide-home-1 .content .fade-item-4{
        width: 70% !important;
    }
}
.s-service .icon img{
 height: 60px !important;
}
.header .header-inner .header-left .logo-site img{
    max-width: 150px !important;
}
@media (max-width: 450px) {
    h1 {
        font-size: 45px !important;
        line-height: 60px;
    }

    .heading-section .title {
        font-size: 30px !important;
        line-height: 50px;
    }

    .s-contact-us .image  {
        display: none;
    }
    .s-project{
        padding-bottom: 30px !important;
    }
    .s-contact-us{
        padding-bottom: 50px !important;
    }
    .footer{
        padding-top: 0px !important;
    }
    .footer .footer-bottom .no-copy{
        font-size: 15px !important ;
    }
}

.box-infor.style-2 .content {
    padding: 23px 27px 11px 34px !important;
}

.box-infor.style-2 .content .title{
    line-height: 35px !important; 
}

.s-service-2 {
    padding: 123px 0px 0px !important;
}
.s-benefit .benefit-list::after {
    background: linear-gradient(to top, #679E29, #6bb226) !important;
}
.s-faq .s-right .content{
    background-color: var(--Primary);
}
.tf-topbar .topbar-inner .topbar-right .social-list{
    border: 1px solid white;
    background-color: #679e29;

}
.tf-topbar .topbar-inner .topbar-right .social-list a{
    color: rgb(255, 255, 255);
}
.tf-topbar .topbar-inner .topbar-right .social-list a:hover{
    color: rgb(0, 0, 0);
}
.s-counter{
    background-color: var(--Primary) !important;
}
.s-why-us .bot .benefit-list{
    background-color: var(--Primary) !important;
}
.s-counter.has-img-item{
    margin-top: 0px !important;
}
.s-project .slider-side{
    background-color: var(--Primary) !important;
}
.wg-welcome{
    display: none !important
}
.s-our-mission .content-section .slider-wrap .content p {
    color: black !important;
}
.s-contact-us .contact-list li .icon{
    background-color: #679e29 !important;
}