{% load static %}
           <!-- Footer -->
           <footer class="footer" id="footer-main">
            <div class="tf-container w-1290">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-bottom">
                            <p class="no-copy font-nunito text-center "> Copyright {% now 'Y' %}, All Right reserved by <a href="https://gedexo.com/" target="_blank"> Gedexo Technologies LLP.</a>
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
           
        </footer>
        <!-- /.Footer -->