{% load static %}
<!-- main header -->
<header class="main-header">

    <div class="header-top-wrap bgc-secondary rel z-1">
       <div class="container-fluid">
           <div class="header-top py-5">
               <div class="row align-items-center">
                   <div class="col-xl-7">
                       <div class="top-left text-center text-xl-start">
                           <ul>
                                <li><i class="far fa-envelope"></i>Email Us : <a href="mailto:info@nesmee.in"> info@nesmee.in</a></li>
                                <li><i class="far fa-phone"></i>Call : <a href="callto:+917902855554">+917902855554</a></li>
                            </ul>
                       </div>
                   </div>
                   <div class="col-xl-5">
                       <div class="top-right text-center text-xl-end">
                           <ul>
                                <li>
                                    <div class="social-style-one">
                                        <a href="https://www.facebook.com/profile.php?id=100082724147881" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://x.com/nesmeeofficial"><i class="fab fa-twitter" target="_blank"></i></a>
                                        <a href="https://www.linkedin.com/in/nesmee-foods-and-exports-7abb50331/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                        <a href="https://www.instagram.com/nesmee.official"><i class="fab fa-instagram" target="_blank" ></i></a>
                                    </div>
                                </li>
                            </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container-fluid clearfix">

            <div class="header-inner rpy-10 rel d-flex align-items-center">
                <div class="logo d-flex me-xl-5 header-logo" >
                    <div class="logo"><a href="{% url "web:index" %}"><img src="{% static 'web/assets/images/logos/logo.webp' %}" alt="Logo" title="Logo"></a></div>
                </div>
                
                {% comment %} <!-- menu sidbar -->
                <div class="menu-sidebar">
                    <button class="bg-transparent"></button>
                </div> {% endcomment %}
                
                <div class="nav-outer clearfix me-lg-auto">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header py-10">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle ms-auto" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.two">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse two collapse clearfix">
                            <ul class="navigation clearfix">
                               <li><a href="{% url "web:index" %}">Home</a>
                                <li><a href="#about">About</a></li>
                                <li><a href="#benefits">Benefits</a></li>
                                <li><a href="#products">products</a></li>
                                <li><a href="#why_choose">Why Choose</a></li>
                                <li><a href="#faq">FAQ</a></li>
                                <li><a href="#testimonials">Testimonials</a></li>
                                <li><a href="#blog">Blogs</a></li>
                            </ul>
                        </div>

                    </nav>
                    <!-- Main Menu End-->
                </div>
                
                <!-- Menu Button -->
                <div class="menu-btns">
                    <a class="theme-btn menu-sidebar">Get In Touch <i class="far fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
</header>